.LasVegas {
  margin: 0 auto;
}

.lasVegasImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
}

.lasVegasImg img {
  width: 220px;
  margin: 3px;
  height: 220px;
  flex-grow: 1;
}

/* 심화 과제 style */
.LasVegas .lasVegasImg img {
  transition: transform 0.4s;
}

.lasVegas_text p {
  transition: transform 0.4s;
}

.LasVegas .lasVegasImg img:hover {
  transform: translateY(-5px);
}

.imgWithText {
  position: relative;
}
.lasVegas_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s;
  color: white;
  opacity: 0;
}

.lasVegasImg .imgWithText:hover .lasVegas_text {
  transform: translate(-50%, -70%);
  opacity: 1;
}
