* {
  margin: 0;
  padding: 0;
}

header {
  background-color: navy;
  color: white;
  padding: 0.5% 5%;
}

.preview {
  display: flex;
  overflow-x: scroll;
  padding: 2%;
}

.preview::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.preview::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

.preview img {
  max-width: 180px;
  height: 280px;
  object-fit: cover;
  margin: 5px;
}

nav {
  background-color: rgb(197, 197, 197);
  padding: 5%;
  margin-top: 1%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.categories {
  display: flex;
  margin-bottom: 2%;
  justify-content: center;
  align-items: center;
}
.city {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city b {
  margin-left: 1%;
}

.city b:hover {
  color: yellow;
}
