.top {
  display: flex;
  padding: 3%;
  border-bottom: 1px solid #929292;
}

.list {
  display: flex;
  padding: 0 2%;
  align-items: center;
  position: relative;
  margin: 2% auto;
  width: 85%;
  border-radius: 10px;
  height: 8vh;
  background-color: aquamarine;
}
.list p:nth-child(1) {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.list p:nth-child(2) {
  width: 50%;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}
.list p:nth-child(3) {
  width: 40%;
}

.list {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
