.top {
  display: flex;
  padding: 3%;
  border-bottom: 1px solid #929292;
  justify-content: space-between;
}
.list-container {
  height: 46vh;
  overflow: scroll; /* 스크롤을 생성함 */
}

.list {
  display: flex;
  padding: 0 2%;
  align-items: center;
  position: relative;
  margin: 2% auto;
  width: 85%;
  border-radius: 10px;
  height: 8vh;
  background-color: aquamarine;
}
/* 분류 */
.list p:nth-child(1) {
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
/* 가게명 */
.list p:nth-child(2) {
  width: 50%;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
}
/* 지출금액 */
.list p:nth-child(3) {
  width: 22%;
  display: flex;
  justify-content: flex-end;
}
/* 삭제버튼 */
.list button {
  position: absolute;
  top: 4px;
  right: 10px;
  background: none;
  border-style: none;
}

.income p:nth-child(3) {
  color: blue;
}

.expense p:nth-child(3) {
  color: red;
}
